<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>Admin Read Projects API</h1>
        <ul>
            <li><a href="/admin/dashboard">Admin Dashboard</a></li>
            <li><a href="/admin/read-projects-api">Admin Read Projects API</a></li>
            <li><a href="/admin/write-projects-api">Admin Write Projects API</a></li>
        </ul>
        <h2>Projects API data</h2>
        <!-- <% projectsApi.projects.forEach(project => { %>
            <p>Project ID: <%= project.projectId %></p>
            <p>Project Image: <%= project.projectImage %></p>
            <p>Project Title: <%= project.projectTitle %></p>
            <p>Project Description: <%= project.projectDescription %></p>
            <p>Project Show Repository: <%= project.showRepository %></p>
            <p>Project Repository: <%= project.projectRepository %></p>
            <p>Project URL: <%= project.projectUrl %></p>
            <p>Project Button: <%= project.projectButton %></p>
            <br />
        <% }) %> -->
    </body>
</html>
